@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body {
    background-color: rgba(32, 40, 58, 1);
}
.responsive {
  max-width: 100%;
  /* height: auto; */
}
.container960 {
  max-width: 960px;
  margin: 0 auto;
}
.container {
  position: relative;
  text-align: center;
}
.centerImage {
  display:block;
  margin: 0 auto;
}
.mainPic {
  background-image: url('/images/obama-arch.jpg');
  /* height: 900px; */
  background-repeat: no-repeat;
  background-size: cover;
}
.title {
  color: white;
  font-size: 3vw;
  font-family: 'Montserrat', sans-serif;
  /* text-align: center; */
  top: 50px;
  font-weight: bold;
  text-shadow: 2px 2px 8px black;
}
.centered {
  position: absolute;
  /* top: 50%; */
  left: 50%;
  transform: translate(-50%, -50%);
}
.description {
  width: 100%;
  background-color: rgba(32, 40, 58, 1);
  height: 100%;
}
.description > p {
  color: white;
  font-size: 3vw;
  font-family: 'Montserrat', sans-serif;
  padding: 50px;
}
/* .description > img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
} */
.purchaseButton {
  background-color: white;
  text-align: center;
  color: rgba(32, 40, 58, 1);
  font-family: 'Montserrat', sans-serif;
  font-size: 3vw;
}
.purchaseButtonBackground {
  background-color: white;
  height: 300px;
}
.purchaseColumn {
  float: left;
  width: 50%;
  background-color: white;
}
.line {
  background-color: red;
  height: 3px;
  margin: 20px auto;
}
.producerInfo {
  list-style: none;
  text-align: center;
  font-size: 2vw;
  font-family: 'Montserrat', sans-serif;
  color: white;
}
.producerInfo > li {
  top: 50%;
}
